<!-- Responsive Web -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, user-scalable=no">
<!-- Title -->
<title><%= title %></title>
<!-- Meta Data -->
<meta name="title" content="<%= title %>">
<meta name="description" content="<%= description %>">
<meta name="keywords" content="trixie, bot, discordbot">
<!-- Icons -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" sizes="16x16 24x24 32x32 48x48">
<link rel="icon" href="/static/icon/favicon_96.png" sizes="96x96">
<link rel="icon" href="/static/icon/favicon_144.png" sizes="144x144">
<!-- Style -->
<link async href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="/static/include/style.css">
<link rel="stylesheet" href="/static/css/main.css">
<!-- Google Analytics -->
<!-- Twitter Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="AltBronyRT" />
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:description" content="<%= description %>"/>
<meta name="twitter:image" content="/static/twitter_card/image.jpg" />
<!-- Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Alternate Brony RT">
<meta property="og:url" content="http://altbronyrt.loneless.org" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>"/>
<meta property="og:image" content="/static/twitter_card/image.jpg" />
<!-- Other Data -->
<link rel="canonical" href="http://trixiebot.loneless.org">
