<%- include("../templates/main/top") %>
<section id="banner">
    <div class="container">
        <div class="animate" style="opacity: 0;">
            <h2>Trixie Bot</h2>
            <div class="actions">
                <a href="/#about">About</a>
                <a href="/#changelog">Changelog</a>
                <a href="/faq">FAQ</a>
                <a href="/status">Status</a>
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>
    </div>
</section>
<section id="about" class="primary">
    <div class="row">
        <div class="col animate" style="transform: translate3d(0, 50px, 0); opacity: 0;">
            <h1 class="spacing">About</h1>
            <%- about %>
            <hr />
            <p><a href="/about"><b>Read more &#8594;</b></a></p>
        </div>
    </div>
</section>
<!--<section id="chart" class="dark">
    <div class="row">
        <div class="col">
            <h1 class="spacing">Public Database</h1>
            
            <p><a href="/archive"><b>Go to archive &#8594;</b></a></p>
        </div>
    </div>
</section>-->
<section id="changelog" class="secondary">
    <div class="row">
        <div class="col">
            <h1 class="spacing">Changelog</h1>
            <% changelog.forEach(function (log) { %>
                <div class="log animate" style="transform: translate3d(-50px, 0, 0); opacity: 0;">
                    <h3><%= log.title %></h3>
                    <p>
                        <% log.message.forEach(function (message) { %>
                            <%= message %><br />
                        <% }); %>
                    </p>
                </div>
            <% }); %>

            <% if (changelog.length === 0) { %>
            <p>No logs published</p>
            <% } %>
        </div>
    </div>
</section>

<script src="/static/js/index.js"></script>
<%- include("../templates/main/bottom") %>
